* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}



.bold {
    font-weight: bold;
}


.card {

    font-size: 12px;
    flex: 0 0 auto;       
    display: grid;   
  
    /* flex-direction: column;  */
  
    position: relative;

    cursor: pointer;



    /* padding: .5rem; */
     opacity: 0.8; 
    border-radius: 6px;
    border: solid 1px #979797;
    background-color: #fff;

    grid-template-columns: repeat(2, 1fr);
    justify-items: end;
}

.card .favorite {

    z-index:1;
    position: relative;

    padding: 2.188rem 1.375rem 2.063rem;
    /* opacity: 0.06; */
    border-radius: 6px; 
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    /* border: solid 1px #606060; */
    background-color: #d6d6d6;
    justify-content: flex-end;
}


.card--title {
    overflow: hidden;
    text-overflow: ellipsis;

    width: 27.5rem;

    font-family: Roboto;
    font-size: 0.875rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 0.25px;
    color: #606060;
   
  
}

.card--author {
    overflow: hidden;
    text-overflow: ellipsis;

    font-family: Roboto;
    font-size: 0.688rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    color: #767676;
  
}

.navbar{
    display: flex;
    padding: 2.75rem 67.625rem 2.625rem 9.375rem;
    box-shadow: 0 1px 4px 0 rgba(0, 21, 41, 0.12);
    background-image: linear-gradient(to bottom, #ececec -32%, #fff 124%);
}

.navbar--text{
    height: 1.75rem;
    object-fit: contain;
    font-family: Baskerville;
    font-size: 1.75rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    color: #3b3b3b;
}


.cards-list {
    padding-top: 1em;
    display: grid;
    grid-auto-rows: auto;
    grid-gap: 2rem;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
}

/* Small devices */	
@media (max-width: 768px) {
	.cards-list  { grid-template-columns: repeat(1, 1fr); }
    .main-conteiner {
        padding: 10px 10px !important;
    }
    .navbar {
        position: relative;
    }  
 
}


btn {

    font-size: 1.25rem!important;
}

.btn.disabled, .btn:disabled, fieldset:disabled .btn {
    color: #0b5ed7;
    pointer-events: none;
    background-color: #0b5ed7;
    border-color: #0b5ed7;
    opacity: #0b5ed7;
}


.tap {
    width: 6.125rem;
    height: 1.938rem;
    /* padding: 0.188rem 1rem 0 1.063rem; */
    border-radius: 2px;
    border: solid 1px #d6d6d6;
    font-size: 1rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.75;
    letter-spacing: normal;
    text-align: center;
    color: #606060;
    text-decoration: none;
}

.taps .active{
    width: 6.125rem;
    height: 1.938rem;
    /* padding: 0.188rem 2.438rem 0 2.5rem; */
    border-radius: 2px;
    border: solid 1px #1797ff;
    font-size: 1rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.75;
    letter-spacing: normal;
    text-align: center;
    color: #1797ff;
    text-decoration: none;
}    

.taps {
    text-align: center;
    DISPLAY: flex;
    justify-content: center;
    padding: 60px;
}    


.main-conteiner{
    padding: 30px 100px;
}




.type-select{
    position: relative;
    width: 15rem;
    height: 2rem;
    border-radius: 4px;
    border: solid 1px #2e2e2e;
    background-color: #fff;
    text-transform: capitalize;
    color: #292929;
    text-align: left;
    padding: 0 15px;
    font-size: 16px;
    cursor: pointer;

}

.card-body{

    padding: 20px;
}

.icon--timer {

    padding-right: 0.5em;
    vertical-align: middle;
}


.card-body:hover{
    cursor: pointer;
    opacity:0.5;
    transform: translateY(-1px);
}

.icon--favorite:hover{
    transition: 0.3s ease-in-out;
    transform: scale(1.1);
}


.pagination {
    display: flex;
    justify-content: space-between;
    list-style: none;
    cursor: pointer;
    padding-left: 0;
    justify-content: center!important;
    margin-top: 1.5rem!important;
    margin-bottom: 1.5rem!important;
    gap: 1.5rem!important;

  }
  
  .pagination a {
    padding: 10px;
    border-radius: 6px;
    border: solid 1px rgba(0, 0, 0, 0.15);
    color: rgba(0, 0, 0, 0.65); 
  }
  
  .pagination__link {
    font-weight: bold;
  }
  
  .pagination__link--active a {
    color: #fff;
    background:  #1890ff;
  }
  
  .pagination__link--disabled a {
    color: rgb(198, 197, 202);
    border: 1px solid rgb(198, 197, 202);
  }




 